body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1,
h3 {
  color: #333;
}

label {
  display: block;
  margin: 10px 0;
}
.recurrence-style {
  display: flex;
  justify-content: space-around;
}
header {
  background-color: #00ff3c;
}
.header-class {
  height: 60px;
  text-align: center;
}
